{% extends 'blog/base.html' %}
{% block content %}
  <div class="row justify-content-center ml-2 mt-4 border">
    <div class="col-10 aboutMe">
      <h3 style="font-weight: 300;">About :</h3>
      <h5 class="mt-4">I am Jesse Delia.</h5>
      <p>I'm am interested in code, and technology. <br>
      I created this blog to document my experiences, <br>
      as I develop as a developer ( :) ). <br>
      Feel free to <a href="{% url 'blog-contact' %}">contact</a> or
      email me @: <a href="mailto:jddelia123@gmail.com">jddelia</p>
    </div>
  </div>
{% endblock content %}
