{% extends 'blog/base.html' %}
{% block content %}
  <div class="row ml-2 mt-4">
    <div class="col">
      <h3 style="font-weight: 300;">Contact :</h3>
    </div>
  </div>
  <div class="row ml-2 mt-4">
    <div class="col-3 ml-5 mt-4">
      <a id="git" class="nav-link" href="https://github.com/jddelia"><i class="fab fa-github fa-2x"></i></a>
      <p class="ml-4">Github</p>
    </div>
    <div class="col-3 mt-4">
      <a id="twitter" class="nav-link" href="https://twitter.com/ThrifyPigeon"><i class="fab fa-twitter fa-2x"></i></a>
      <p class="ml-4">Twitter</p>
    </div>
    <div class="col-3 mt-4">
      <a id="gmail" class="nav-link" href="https://jddelia123@gmail.com"><i class="fab fa-google-plus-g fa-2x"></i></a>
      <p class="ml-4">Gmail</p>
    </div>
  </div>
{% endblock content %}
