{% extends 'blog/base.html' %}
{% block content %}
  {% for post in posts %}
    <div class="row justify-content-center ml-2 mt-4 mb-4 border blogCard">
      <div class="col-10">
        <h3 class="border-bottom" style="font-weight: 300;">{{ post.title }}</h3>
        <img width="550" height="250" class="mt-4 mb-4 border"
        src="{{ post.image }}"
        alt="{{ post.alt }}">
        <p>{{ post.content|truncatechars:250|safe }}</p>
        <a href="{% url 'blog-post' post.pk %}">More</a>
        <div class="cardFooter">
          <small class="border-top">{{ post.date_posted }}</small>
        </div>
      </div>
    </div>
  {% endfor %}
  {% if is_paginated %}

    {% if page_obj.has_previous %}
      <a class="btn btn-outline-primary btn-sm ml-2 mb-4" href="?page=1">First
      </a>
      <a class="btn btn-outline-primary btn-sm mb-4"
        href="?page={{ page.obj.previous_page_number}}">Previous
      </a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="btn btn-primary btn-sm ml-2 mb-4" href="?page={{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-primary btn-sm mb-4" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a class="btn btn-outline-primary btn-sm mb-4"
        href="?page={{ page_obj.next_page_number }}">Next
      </a>
      <a class="btn btn-outline-primary btn-sm mb-4"
        href="?page={{ page_obj.paginator.num_pages }}">Last
      </a>
    {% endif %}

  {% endif %}
{% endblock content %}
