{% extends 'blog/base.html' %}
{% block content %}
  <!-- Row -->
  <div class="row justify-content-center mt-4 ml-2">
    <!-- Column -->
    <div class="col">
      <h3 style="font-weight: 300;">Projects :</h3>
    </div>
  </div>

  <!-- Row -->
  <div class="row ml-4 mt-5">
    <!-- Column -->
    <div class="col-5 ml-4 mr-3">
      <div class="card blogCard" style="width: 20rem;">
        <img class="card-img-top border-bottom" height="150"
        src="https://camo.githubusercontent.com/0ac95ba46996eb2ce1aa2d0dfc24292f5b7c799d/68747470733a2f2f736e61672e67792f475a455372682e6a7067"
        alt="Card image cap">
        <div class="card-body">
          <p class="card-text" style="font-weight: 300;">
            <a href="https://github.com/jddelia/task_crusher">TaskCrusher</a> -
            A ToDo List App I made
            with Django.
          </p>
        </div>
      </div>
    </div>
    <!-- Column -->
    <div class="col-5">
      <div class="card blogCard" style="width: 20rem;">
        <img class="card-img-top border-bottom" height="150"
        src="https://camo.githubusercontent.com/3d545fa80f14ade735f7859d7870f2ba5094356b/68747470733a2f2f736e61672e67792f3677424c52342e6a7067"
        alt="Card image cap">
        <div class="card-body">
          <p class="card-text" style="font-weight: 300;">
            <a href="https://github.com/jddelia/simple_markov">Simple Markov</a> -
            A Markov Text Generator I made using Django.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Row -->
  <div class="row ml-4 mt-5">
    <!-- Column -->
    <div class="col-5 ml-4 mr-3">
      <div class="card blogCard" style="width: 20rem;">
        <img class="card-img-top border-bottom" height="150"
        src="https://camo.githubusercontent.com/13b9b11e0ab7e90ed8a82e03d925c48038b3c3fa/68747470733a2f2f736e61672e67792f4e736d3564772e6a7067"
        alt="Card image cap">
        <div class="card-body">
          <p class="card-text" style="font-weight: 300;">
            <a href="https://github.com/jddelia/hangman">Hangman</a> -
            A game of Hangman I made using
            the Python Tkinter library.
          </p>
        </div>
      </div>
    </div>
    <!-- Column -->
    <div class="col-5">
      <div class="card blogCard" style="width: 20rem;">
        <img class="card-img-top border-bottom" height="175"
        src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png"
        alt="Card image cap">
        <div class="card-body">
          <p class="card-text" style="font-weight: 300;">
            <a href="https://github.com/jddelia/task_crusher">jddelia</a> -
            Visit my Github to see more.
          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
